annotated-types==0.7.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
flask-cors==6.0.1
flask-openapi3==4.3.0
flask-openapi3-swagger==5.30.2
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pydantic==2.12.4
pydantic_core==2.41.5
SQLAlchemy==2.0.44
SQLAlchemy-Utils==0.42.0
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==3.1.3
